* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("images/chicagoBG.jpg");
    background-position: fixed; 
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #fff;
    font-family: sans-serif;

}
.startQuiz {
    display: block;
    text-align: center;
    width: 50%;
    margin-top: 150px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #363946;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: normal;
}
button {
    padding: 20px;
    border: none;
    background-color: #58B9F7;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 40px;

}
.startButton {
    width: 200px;
}
.startButton:hover, startButton:focus {
    width: 280px;
}
button:hover, button:focus {
    background-color: #58B9F7;
    color: #fff;

}
main div {
    margin: 0 auto;
    margin-top: 50px;
}

label {
    padding: 20px;
    margin-bottom: 10px;
    display: flex;
    background: none;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    line-height: 22px;
}
label:hover, label:focus {
    padding: 20px;
    border: 1px solid #58B9F7;
    border-radius: 25px; 
    background-color: #58B9F7;
    transition: all 0.5s ease;
}
fieldset {
    border: 1px;
}
input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    border: 2px solid #ffffff;
    transition: 0.2s all linear;
    outline: none;
    margin-right: 5px;
    position: relative;
    top: 2px;
}
input:checked {
    border: 8px solid #ffffff;
}
input[type=radio] {
    flex: 0 0 auto;
    margin-right: 10px;
}
h2 {
    text-align: center;
    margin-bottom: 40px;
    color: #363946;
    text-transform: uppercase
}
form button {
    padding: 20px;
    border: none;
    background-color: #58B9F7;
    color: #363946;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    text-align: center;
}
form button:hover, form button:focus {
    background-color: #fff;
    color: #58B9F7
}
.answer {
    flex: 1 1 auto;
}
.quizForm {
    display: none;
    width: 50%;
}
.questionAndScore {
    padding: 40px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.feedback {
    display: block;
    margin: 0 auto;
    text-align: center;
    background: none;
    padding-top: 200px;
}
.feedback button {
    width: 100%;
}
.feedback p {
    font-size: 1.5em;
    line-height: 1.5em;
    text-transform: uppercase;
    margin-left: 20px;
    margin-right: 20px;
}
.feedback span {
    color: #CC0000;
}

h3 {
    color: #CC0000;
    font-size: 40px;
    margin-bottom: 20px;
}
.results p:first-of-type {
    font-size: 25px;
    margin-bottom: 10px;
}
.results p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 0;
}
.restartButton {
    margin-top: 40px;
}